.navbar {
    grid-area: navbar;
    background-color: var(--main-bg-color);

    user-select: none;
    -webkit-user-drag: none;
}

.navbar-items-holder {
    height: calc(100vh - var(--header-height) - var(--navbar-toggler-height));
    padding: .7rem 1.7rem .5rem 0;

    overflow-y: auto;
}

:root:target .navbar-items-holder {
    padding: .7rem 0 .5rem 0;
}

.navbar-item {
    min-height: 4rem;

    display: flex;
    align-items: center;

    border-left: 0 solid transparent;

    transition: 400ms border, 200ms background;

    &.active,
    &:hover {
        border-color: var(--main-text-color);
        border-left-width: .4rem;
        background-color: var(--navbar-active-item-bg-color);
        font-weight: bold;
    }
}

:root:target .navbar-item {
    padding: 1.8rem 0;
}


:root:target .navbar-item:not([class*="-main"]) {
    display: none;
}

.navbar-item-icon {
    margin: 0 1rem;
    line-height: .6rem;
}

:root:target .navbar-item-icon {
    i {
        font-size: 2.7rem;
    }
}

.navbar-item-img {
    margin: .85rem 1rem;
    width: 3.5rem;
    height: 3.5rem;

    overflow: hidden;
    text-align: center;

    img {
        max-width: 100%;
    }
}

:root:target .navbar-item-img {
    display: none;
}

.navbar-item-text {
    font-size: 1.35rem;
}

:root:target .navbar-item-text {
    display: none;
}

.navbar-heading {
    min-height: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: .9rem 0 .9rem 1.4rem;

    border-top: .1rem solid var(--navbar-border-color);
}

:root:target .navbar-heading {
    display: none;
}

.navbar-heading-title {
    text-transform: uppercase;
    font-size: 1.35rem;

    color: var(--navbar-title-color);
}

.navbar-heading-button {
    margin-top: .3rem;

    button {
        display: block;
        padding: .5rem 1rem;

        border-radius: 1rem;
        border: 1px solid var(--navbar-title-color);

        background-color: transparent;
        color: var(--navbar-title-color);
    }
}

:root:target .navbar-item-add-playlist {
    display: none;
}

.navbar-lead {
    margin: 1.2rem;

    font-size: 1.2rem;
    color: var(--navbar-title-color);
}

:root:target .navbar-lead {
    display: none;
}

.navbar-toggler {
    height: var(--navbar-toggler-height);

    display: flex;
    justify-content: flex-end;
    align-items: center;

    cursor: pointer;

    i {
        font-size: 4rem;

        color: var(--navbar-title-color);

        transition: 300ms all;
    }

    &:hover {
        i {
            transform: translateX(-.5rem);
        }
    }

    &-open {
        display: none;
        text-align: center;

        &:hover {
            i {
                transform: translateX(.5rem);
            }
        }
    }

}

:root:target .navbar-toggler {
    display: none;
    &-open {
        display: block;
    }
}
