.main-grid-container {
    display: grid;
    grid-template-columns: 227px 4fr 1fr;
    grid-template-rows: 60px 1fr 60px;
    height: 100vh;

    grid-template-areas:
        "header header header"
        "navbar main aside"
        "navbar player player";
}
