.main-grid-container {
    display: grid;
    grid-template-columns: 227px 2.65fr 1fr;
    grid-template-rows: var(--header-height) 1fr var(--player-height);
    min-height: 100vh;

    grid-template-areas:
        "header header header"
        "navbar main aside"
        "navbar player player";
}
