.main-section {
    grid-area: main;

    padding: 1rem 2rem;

    background-color: var(--sec-bg-color);

    overflow-x: hidden;
    overflow-y: auto;
}

.slider-controls {
    width: 3rem;
    height: 3rem;

    display: none;

    position: absolute;
    left: -1rem;
    @include center-y;

    background-color: var(--main-bg-color);
    border: .1rem solid var(--navbar-icon-color);
    border-radius: 50%;

    z-index: 9;

    text-align: center;

    box-shadow: var(--gray-shadow);

    i {
        line-height: 3rem;

        font-size: 2.6rem;
    }

    &-right {
        display: block;

        left: auto;
        right: -1rem;
    }
}

.slider-item {
    position: relative;

    box-shadow: var(--gray-shadow);
    border-radius: .4rem;

    background-position: center center;
    background-size: 100% 100%;

    transition: all 200ms;

    &::after {
        content: "";

        height: 100%;
        width: 100%;

        background-color: var(--overlay-color);
        position: absolute;
        top: 0;
        left: 0;

        opacity: 0;

        transition: all 200ms;

        pointer-events: none;
    }

    &:hover::after {
        opacity: 1;
    }

    &:hover {
        background-size: 110% 110%;
    }

    &:hover .slider-item-action {
        opacity: 1;
    }
}

.slider-item-action {
    display: flex;

    position: absolute;
    @include center-x;
    bottom: 1rem;

    opacity: 0;

    transition: 200ms all;

    z-index: 5;
}

.item-action {
    width: 3.7rem;
    height: 3.7rem;

    margin: .5rem;

    background-color: var(--main-text-color);
    border-radius: 50%;

    text-align: center;

    transition: all 300ms;

    cursor: pointer;

    &>i {
        color: var(--main-bg-color);

        line-height: 3.7rem;

        transition: all 200ms;
    }

    &:hover {
        transform: scale(1.2);
    }

    &-play {
        background-color: var(--main-ang-color);

        i {
            color: var(--main-text-color);
        }
    }

}

.main-slider {
    width: 100%;
    margin-bottom: 3rem;

    position: relative;

    user-select: none;
}

.main-big-slider-holder {
    overflow-x: auto;

    display: grid;
    grid-auto-rows: var(--main-big-slider-height);
    grid-auto-columns: var(--main-big-slider-width);
    column-gap: 1.8rem;
    grid-auto-flow: column;

    border-radius: .4rem;
}

.main-wide-slider-holder {
    overflow-x: auto;

    display: grid;
    grid-auto-rows: var(--main-wide-slider-height);
    grid-auto-columns: var(--main-wide-slider-width);
    column-gap: 1.8rem;
    grid-auto-flow: column;

    border-radius: .4rem;
}
