.player {
    grid-area: player;

    background-color: var(--thr-bg-color);
    box-shadow: var(--gray-shadow);

    position: relative;

    user-select: none;
    -webkit-user-drag: none;
}

.player-progress {
    width: 100%;
    padding-top: 3rem;

    position: absolute;
    left: 0;
    top: -3rem;

    transition: 200ms all;

    &:hover .player-progress-line {
        height: .8rem;
    }

    &:hover .player-progress-current::after {
        width: 2rem;
        height: 2rem;

        right: -1rem;
    }
}

.player-progress-line {
    width: 100%;
    height: .4rem;

    position: absolute;
    left: 0;
    bottom: 0;

    background-color: var(--main-text-color);
    transition: 200ms all;
}

.player-progress-current {
    height: 100%;
    width: 40%;

    position: relative;

    background-image: var(--plus-gradient);
    transition: 200ms all;

    &::after {
        content: "";

        display: block;
        width: 1rem;
        height: 1rem;

        position: absolute;
        right: -.5rem;
        @include center-y;

        border-radius: 50%;

        background-color: var(--sec-text-color);
        transition: 200ms all;
    }
}


.player-holder {
    height: 100%;
    padding: 0 3rem;

    display: flex;
    align-items: center;
}

.player-controls {
    height: 100%;

    display: flex;
    align-items: center;

    margin: 0 1rem;

    &>i {
        margin: 0 .6rem;

        font-size: 2.7rem;

        color: var(--sec-text-color);
    }
}

.player-play {
    width: 4.5rem;
    height: 4.5rem;

    border-radius: 50%;
    background-color: var(--main-ang-color);

    text-align: center;

    i {
        font-size: 4rem;
        line-height: 4.5rem;
    }
}

.player-current-song-info {
    height: 100%;
    margin: 0 2rem;

    flex: 1;

    display: flex;
    align-items: center;
}

.player-current-song-info-img {
    width: 6rem;

    border-radius: .8rem;
}

.player-current-song-info-text {
    flex: 1;
    margin: 0 2rem;

    h4 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    p {
        font-size: 1.5rem;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        margin-top: .5rem;
        color: var(--navbar-icon-color);
    }
}

.player-current-song-info-time {
    font-size: 1.2rem;
    white-space: nowrap;

    color: var(--navbar-icon-color);

    &-light {
        display: inline;
        color: var(--main-text-color);
    }
}


.player-actions,
.player-queue,
.player-other-devices,
.player-volume {
    display: flex;
    align-items: center;

    padding: .6rem 1rem;

    border-left: 1px solid var(--navbar-active-item-bg-color);

    i {
        margin: 0 1rem;
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 1260px) {
    .player-holder {
        padding: 0 2rem;
    }

    .player-current-song-info {
        margin: 0;
    }

    .player-controls {
        margin: 0;
    }

    .player-other-devices,
    .player-queue,
    .player-volume,
    .player-current-song-info-time {
        display: none;
    }
}
