.section-list {
    list-style: none;
    padding: 0;

    margin-top: 10rem;
}

.section-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding: 2rem;

    &:hover {
        background-color: var(--main-bg-color);
    }

    &.active {
        background-color: var(--thr-bg-color);
    }
}

.list-item-img {
    overflow: hidden;
    img {
        min-height: 100%;
    }
}
