.playing-song-timer {
    display: inline;

    &-minutes::after {
        content: "0";
        animation: minutes-count 120s 60s linear forwards;
    }

    &-seconds::after {
        content: "57";
        animation: seconds-count 60s linear 3;
    }
}
