.playing-song-timer {
    display: inline;

    &-minutes::after {
        content: "0";
        animation: minutes-count 120s 60s linear forwards;
    }

    &-seconds::after {
        content: "57";
        animation: seconds-count 60s linear 3;
    }
}

@keyframes seconds-count {
    @for $i from 0 through 100 {
        #{$i * 1%} {
            $val: floor((60 * $i) / 100);
            @if $val < 10 {
                $val: "0"+ $val;
            }
            content: "#{$val}";
        }
    }
}

@keyframes minutes-count {
    0% {
        content: "1";
    }
    100% {
        content: "2";
    }
}
